<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39395003262-6o6d2chsri1s3407tmds8b408ec1e3h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39395003262-6o6d2chsri1s3407tmds8b408ec1e3h7</string>
	<key>API_KEY</key>
	<string>AIzaSyB7NnVmIXEbQJtxZK5xDpJ58IUCX_L38sk</string>
	<key>GCM_SENDER_ID</key>
	<string>39395003262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HamdiFakhfakh.chatFlash</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c1d80</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c1d80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39395003262:ios:d704c1fa85f9d65ecbc12f</string>
</dict>
</plist>